
.recipe-card {
    text-align: left;
    .card-heading{
        position: absolute; 
        opacity: 0.8;
        width: 100%;
    }
    .card-image {
        height: 12.5rem;
        object-fit: cover;
    }
    .interaction-btns {
        display: flex;
    }
}
.spinner {
    display: flex;;
    justify-content: center;
}