.recipe-page {
    overflow-y: scroll;
    height: calc(100vh - 106px);
    .recipe-card {
        .card-heading{
            position: absolute; 
            opacity: 0.8;
            width: 100%;
        }
        .card-image {
            height: 12.5rem;
            object-fit: cover;
        }
        .interaction-btns {
            display: flex;
        }
    }
    .spinner {
        display: flex;;
        justify-content: center;
    }
}