<ion-app>
  <app-header></app-header>
  <ion-content>
    <ion-menu side="end" menuId="userMenu" contentId="content">
      <!-- <ion-header>
        <ion-toolbar>
          <ion-title>User Menu</ion-title>
        </ion-toolbar>
      </ion-header> -->
      <ion-content>
        <ion-list>
          <ion-menu-toggle>
            <ion-item class="menu-item" lines="none" (click)="openProfile()">
              <ion-icon class="menu-icon" name="person" slot="start"></ion-icon>
              <ion-label class="menu-label">Profile</ion-label>
            </ion-item>
          </ion-menu-toggle>
            <ion-item  class="menu-item" lines="none" (click)="toggleMode()">
              <ion-icon name="color-fill-outline" *ngIf="!(isDark | async)" slot="start"></ion-icon>
              <ion-icon name="color-fill" *ngIf="isDark | async" slot="start"></ion-icon>
              <!-- <ion-toggle class="menu-icon" slot="start" color="primary"  (ionChange)="toggleMode($event)" [checked]="isDark"></ion-toggle> -->
              <ion-label class="menu-label">Color Mode</ion-label>
            </ion-item>
          <ion-menu-toggle>
            <ion-item  class="menu-item" lines="none" (click)="logout()" button>
              <ion-icon class="menu-icon" name="exit" slot="start"></ion-icon>
              <ion-label class="menu-label">Log Out</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="content"></ion-router-outlet>
  </ion-content>
</ion-app>